$dark: #371536;
$accent: #540B5D;
$light: #540B5D;
$orange: #FEA832;
$green: #47B648;
$red: #CB1842;
$blue: #00AEFF;
$yellow: #FFB900;

$map_red: #F71D51;
$map_blue: #6756E8;
$map_cyan: #37AF8C;
$map_violet: #C528E9;
$map_brown: #C7897B;
$map_green: #5C9B21;
$map_orange: #EC772F;
$map_yellow: #E8BE10;