@import "../color.scss";

.language {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  border-radius: 4px;
  select {
    background: $accent;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.25em;
    outline: none;
    option {
      padding: 1em;
    }
  }
}

// Launcher
.launcher {
  position: absolute;
  width: calc(96px * 6);
  height: 80%;
  top: 10%;
  left: calc(50% - (96px * 6) / 2);
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-gap: 1em;

  &-title {
    img {
      width: 100%;
      height: 100%;
    }
  }

  &-game {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 999;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../../img/grid.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% + 1em);
      height: calc(100% + 1em);
      top: -0.5em;
      left: -0.5em;
      background-color: #5e1f5c;
      border-radius: 5px;
      z-index: -1;
    }

    &-avatar {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      grid-column: 1 / 2;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../icons/avatarFrame.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }

    &-username {
      grid-column: 2 / 7;
    }

    &-panel {
      grid-row: 2;
      grid-column: 1 / 7;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      position: relative;

      &-coins {
        grid-column: 1 / 2;
        display: flex;
        align-items: center;
        z-index: 1;
        img {
          min-width: 70px;
          width: 100%;
          height: 100%;
        }
      }

      &-count {
        grid-column: 2 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.75em;
        font-weight: 900;
        color: $yellow;
        z-index: 1;
      }

      &-store {
        grid-column: 5 / -1;
        display: flex;
        align-items: center;
        z-index: 1;
        button {
          background: $red;
          color: white;
          border: none;
          outline: none;
          cursor: url("../../icons/cursor.svg"), auto;
          width: 150px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 0.5em;
          border-radius: 8px;
          font-size: 1.5em;
          font-weight: 900;
          box-shadow: inset 0px -8px 0px rgba(0, 0, 0, 0.1);
        }
      }

      &-line {
        position: absolute;
        width: 80%;
        height: 44px;
        top: calc(50% - 22px);
        left: 10%;
        background: #461643;
        box-shadow: inset 0px 8px 0px rgba(0, 0, 0, 0.1);
        z-index: 0;
      }
    }

    &-list {
      grid-column: 1 / 7;
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;

      &-item {
        margin: 0.5em 0.25em;
        background: #461643;
        box-shadow: inset 0px 8px 0px rgba(0, 0, 0, 0.1);
        width: calc(100% - 0.5em);
        height: calc(100% - 1em);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        position: relative;

        &-avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 100%;
          height: 100%;
          grid-column: 1 / 2;
          img {
            width: 46px;
            height: 46px;
            border-radius: 50%;
          }
          &::after {
            content: "";
            position: absolute;
            top: calc(50% - 30px);
            left: calc(50% - 30px);
            width: 60px;
            height: 60px;
            background-image: url("../../icons/avatarFrame.png");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }

        &-info {
          display: flex;
          flex-direction: column;
          grid-column: 2 / 4;
          span {
            flex-grow: 1;
            &:first-child {
              font-size: 1.25em;
              font-weight: bold;
              display: flex;
              align-items: flex-end;
            }
            &:last-child {
              color: $blue;
              font-weight: 900;
              font-size: 1.1em;
            }
          }
        }

        &-join {
          grid-column: 5 / -1;
          display: flex;
          align-items: center;
          button {
            height: 50px;
            width: calc(100%);
            margin-right: 0.5em;
            background: $blue;
            color: white;
            border: none;
            outline: none;
            cursor: url("../../icons/cursor.svg"), auto;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5em;
            color: $yellow;
            font-weight: 900;
            box-shadow: inset 0px -8px 0px rgba(0, 0, 0, 0.1);
            img {
              width: 40px;
            }
          }
        }
      }
    }

    &-create {
      height: 100%;
      grid-row: 7 / 9;
      grid-column: 2 / 6;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      button {
        background: $blue;
        color: white;
        border: none;
        outline: none;
        cursor: url("../../icons/cursor.svg"), auto;
        width: 90%;
        height: 60px;
        font-weight: 900;
        font-size: 1.25em;
        text-transform: uppercase;
        border-radius: 8px;
        box-shadow: inset 0px -8px 0px rgba(0, 0, 0, 0.1),
          0 -8px 0 rgba(0, 0, 0, 0.05);
      }
    }
  }

  &-room {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 0.5fr 1.5fr 1fr 1fr 1fr 1fr;
    position: relative;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../../img/grid.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -2;
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% + 1em);
      height: calc(100% + 1em);
      top: -0.5em;
      left: -0.5em;
      background-color: #5e1f5c;
      border-radius: 5px;
      z-index: -2;
    }

    &-leave {
      position: absolute;
      left: -53px;
      width: 48px;
      height: 48px;
      top: -14px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-stake {
      grid-column: 1 / 7;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 50px;
      }
      span {
        color: $yellow;
        font-size: 2em;
        font-weight: 700;
        margin: 0 0.5em;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:last-child {
          margin-left: 0;
        }
      }
    }

    &-players {
      grid-row: 2;
      grid-column: 1 / 7;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      position: relative;

      &.players-02 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.players-03 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.players-04 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.players-05 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.players-06 {
        grid-template-columns: repeat(6, 1fr);
      }

      &.players-07 {
        grid-template-columns: repeat(7, 1fr);
      }

      &.players-08 {
        grid-template-columns: repeat(8, 1fr);
      }

      &-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &-avatar {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 80px;
          grid-column: 1 / 2;

          &.avatar-06 {
            width: 60px;
            height: 60px;
          }

          &.avatar-07 {
            width: 60px;
            height: 60px;
          }

          &.avatar-08 {
            width: 60px;
            height: 60px;
          }

          img {
            width: 80%;
            height: 80%;
            border-radius: 50%;
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("../../icons/avatarFrame.png");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        &-avatar-empty {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 80px;
          grid-column: 1 / 2;

          &.avatar-empty-06 {
            width: 60px;
            height: 60px;
          }

          &.avatar-empty-07 {
            width: 60px;
            height: 60px;
          }

          &.avatar-empty-08 {
            width: 60px;
            height: 60px;
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("../../icons/avatarFrame.png");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }
    }

    &-waiting {
      grid-row: 3;
      grid-column: 1 / 7;
      display: flex;
      justify-content: center;
      align-items: center;
      color: lightgrey;
      font-weight: 700;
      height: 100%;
      font-size: 1em;
    }

    &-bottom {
      grid-row: 8;
      display: grid;
      grid-column: 1 / 7;
      grid-template-columns: repeat(6, 1fr);
      // grid-gap: 2em;
      &-back {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        grid-column: 1 / 2;
        margin-left: 0.5em;
        button {
          height: 60px;
          width: 100%;
          background: $red;
          color: white;
          outline: none;
          border: none;
          border-radius: 8px;
          box-shadow: inset 0px -8px 0px rgba(0, 0, 0, 0.1);
          font-weight: 700;
          cursor: url("../../icons/cursor.svg"), auto;
        }
      }
      &-start {
        grid-column: 2 / 6;
        height: 100%;
        width: 80%;
        margin-left: 10%;
        button {
          width: 100%;
          background: $blue;
          color: white;
          outline: none;
          border: none;
          border-radius: 8px;
          height: 60px;
          font-weight: 700;
          font-size: 1.5em;
          box-shadow: inset 0px -8px 0px rgba(0, 0, 0, 0.1);
          cursor: url("../../icons/cursor.svg"), auto;
          &:disabled {
            background: lightgrey;
          }
        }
      }
    }

    &-chat {
      height: 100%;
      grid-row: 4 / 8;
      grid-column: 1 / 7;
      background: #461643;
      position: relative;
      border-radius: 8px;

      &-list {
        overflow-y: auto;
        max-height: 300px;
        padding: 0.5em;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          width: 0;
        }

        &-item {
          display: flex;
          flex-direction: column;
          margin-bottom: 1.5em;
          &.right {
            align-items: flex-end;
          }
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0.25em;
          }
          font-size: 13px;
        }
      }

      &-panel {
        position: absolute;
        bottom: 0;
        width: 100%;

        form {
          display: flex;
          background: #371135;
          width: 100%;
          box-shadow: inset 0px 8px 0px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          input {
            width: 100%;
            height: 44px;
            background: transparent;
            border: none;
            outline: none;
            color: white;
            padding: 0 0.5em;
          }
          button {
            background: $red;
            color: white;
            border: none;
            outline: none;
            font-weight: 700;
            padding: 0 1em;
            font-size: 1.25em;
            border-radius: 8px;
            box-shadow: inset 0px -8px 0px rgba(0, 0, 0, 0.1);
            cursor: url("../../icons/cursor.svg"), auto;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 1000px) {
  .launcher {
    width: calc(80px * 6);
    left: calc(50% - (80px * 6) / 2);
  }
}

@media screen and (max-height: 900px) {
  .launcher {
    width: calc(70px * 6);
    left: calc(50% - (70px * 6) / 2);
    &-title {
      display: none;
    }
    grid-template-rows: 1fr;
  }
}

@media screen and (max-height: 800px) {
  .launcher {
    width: calc(60px * 6);
    left: calc(50% - (60px * 6) / 2);
  }
}
